In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.9/site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.9/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [7]:
HOST = '34.141.70.127'
PORT = '5432'
DATABASE = 'final_project'
USER = '***'
PASSWORD ='***'

In [8]:
conn_string_mac = f'postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}'

In [9]:
engine = create_engine(conn_string_mac, echo=False)

In [10]:
engine

Engine(postgresql://postgres:***@34.141.70.127:5432/final_project)

In [32]:
artworks = pd.read_csv('/Users/gabrielasena/Desktop/final-project-spiced/data/artworks_cleaned.csv')

In [33]:
with engine.begin() as conn:
    conn.execute("DROP TABLE IF EXISTS artworks;")
    conn.execute("""
        CREATE TABLE artworks (
            artwork_id INT,
            title VARCHAR,
            artist_id VARCHAR,
            name_artist VARCHAR,
            year VARCHAR,
            medium VARCHAR,
            dimensions VARCHAR,
            acquisition_date DATE,
            credit VARCHAR,
            catalogue VARCHAR,
            department VARCHAR,
            classification VARCHAR,
            object_number VARCHAR 
        )    
    """)
    artworks.to_sql('artworks', conn, if_exists='append', index=False)

In [42]:
artists = pd.read_csv('/Users/gabrielasena/Desktop/final-project-spiced/data/artists_cleaned.csv')

In [43]:
with engine.begin() as conn:
    conn.execute("DROP TABLE IF EXISTS artists;")
    conn.execute("""
        CREATE TABLE artists (
            artist_id  INT,
            name  VARCHAR,
            nationality VARCHAR,
            gender VARCHAR,
            birth_year INT,
            death_year INT 
        )    
    """)
    artists.to_sql('artists', conn, if_exists='append', index=False)